.gallery--container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery--item {
    border: 1px solid black;
    overflow-wrap: break-word;
    padding: 0.5em;
    margin: 1em;
    width: 10em;
    height: 10em;
}

.gallery--text {
    display: block;
    font-size: .9rem;
}

.gallery--text__small {
    font-size: .7rem;
}

.pagination--container {
    user-select: none;
    -webkit-user-select: none;
}

.pagination--page-indicator {
    margin: 0 auto;
    width: 10em;
    text-align: center;
}

.pagination--button-container {
    display: flex;
    justify-content: center;
}

.pagination--button {
    margin: 0 1em;
    cursor: pointer;
}

.pagination--button.disabled {
    color: #777;
    cursor: default;
}

.pagination--button:not(.disabled):hover {
    color: #c55e4c
}

