.title--container {
    margin-top: 1em;
    text-align: center;
}

.title--text {
    font-size: 1.5rem;
}

.gallery--criteria-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery--container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery--item {
    border: 1px solid #999;
    overflow-wrap: break-word;
    padding: 0.5em;
    margin: 1em;
    width: 12em;
    height: 14em;
    text-align: center;
}

.gallery--text {
    margin-bottom: 1em;
}

.gallery--name {
    display: block;
    font-size: .8rem;
    font-weight: bold;
    line-height: 1.2;
    height: 2.5em;
}

.gallery--description {
    display: block;
    font-size: .7rem;
    height: 2em;
}

.gallery--bid-container {
    display: flex;
    flex-direction: column;
}

.gallery--bid-price-container {
    display: flex;
}

.gallery--bid-price {
    flex: 1;
    font-size: .9rem;
}

.gallery--photo-container {
    height: 4em;
    width: 5em;
    margin: 0 auto 0.7em;
    overflow: hidden;
}

.gallery--photo {
    display: block;
    height: 5em;
    width: auto;
    margin: 0 auto;
}

.sort--container {
    margin: 1em 1em;
}

.filter--container {
    margin: 1em 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 0.5em;
}

.filter--input {
    display: block;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-botton: 0.5em;
}

.filter--button {
    display: block;
}

.pagination--container {
    user-select: none;
    -webkit-user-select: none;
}

.pagination--page-indicator {
    margin: 0 auto;
    width: 10em;
    text-align: center;
}

.pagination--button-container {
    display: flex;
    justify-content: center;
}

.pagination--button {
    margin: 0 1em;
    cursor: pointer;
}

.pagination--button.disabled {
    color: #777;
    cursor: default;
}

.pagination--button:not(.disabled):hover {
    color: #c55e4c
}

.clamp-lines__button {
    display: none;
}

.u-ms-4 {
    margin-left: 0.4em;
    margin-right: 0.4em;
}
